.fat-cow {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.fat-cow.black-action-log {
    background-image: url(images/black/action_log.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-administrator {
    background-image: url(images/black/administrator.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-apple-corp {
    background-image: url(images/black/apple_corp.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-application-osx-terminal {
    background-image: url(images/black/application_osx_terminal.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-application-xp-terminal {
    background-image: url(images/black/application_xp_terminal.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-backups {
    background-image: url(images/black/backups.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-baggage-cart {
    background-image: url(images/black/baggage_cart.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-baton {
    background-image: url(images/black/baton.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-battery {
    background-image: url(images/black/battery.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-bios {
    background-image: url(images/black/bios.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-blackberry {
    background-image: url(images/black/blackberry.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-blackberry-messenger {
    background-image: url(images/black/blackberry_messenger.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-blackboard-drawing {
    background-image: url(images/black/blackboard_drawing.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-blackboard-empty {
    background-image: url(images/black/blackboard_empty.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-bomb {
    background-image: url(images/black/bomb.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-brightkite {
    background-image: url(images/black/brightkite.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-calculator-black {
    background-image: url(images/black/calculator_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-camera-black {
    background-image: url(images/black/camera_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-capitalization {
    background-image: url(images/black/capitalization.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-car {
    background-image: url(images/black/car.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-card-amex-gray {
    background-image: url(images/black/card_amex_gray.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-card-apple {
    background-image: url(images/black/card_apple.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-card-discover-black {
    background-image: url(images/black/card_discover_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-cargo {
    background-image: url(images/black/cargo.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-caterpillar {
    background-image: url(images/black/caterpillar.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-cd-case-empty {
    background-image: url(images/black/cd_case_empty.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-ceo {
    background-image: url(images/black/ceo.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chair {
    background-image: url(images/black/chair.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chartplotter {
    background-image: url(images/black/chartplotter.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chess-bishop {
    background-image: url(images/black/chess_bishop.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chess-horse {
    background-image: url(images/black/chess_horse.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chess-king {
    background-image: url(images/black/chess_king.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chess-pawn {
    background-image: url(images/black/chess_pawn.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chess-queen {
    background-image: url(images/black/chess_queen.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-chess-tower {
    background-image: url(images/black/chess_tower.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-client-account-template {
    background-image: url(images/black/client_account_template.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-color-adjustment {
    background-image: url(images/black/color_adjustment.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-contrast {
    background-image: url(images/black/contrast.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-contrast-decrease {
    background-image: url(images/black/contrast_decrease.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-contrast-high {
    background-image: url(images/black/contrast_high.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-contrast-increase {
    background-image: url(images/black/contrast_increase.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-contrast-low {
    background-image: url(images/black/contrast_low.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-cooler {
    background-image: url(images/black/cooler.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-counter {
    background-image: url(images/black/counter.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-cruise-ship {
    background-image: url(images/black/cruise_ship.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-cutleries {
    background-image: url(images/black/cutleries.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-cutlery {
    background-image: url(images/black/cutlery.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-dashboard {
    background-image: url(images/black/dashboard.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-database-black {
    background-image: url(images/black/database_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-designmoo {
    background-image: url(images/black/designmoo.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-diagramm {
    background-image: url(images/black/diagramm.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-document-black {
    background-image: url(images/black/document_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-door-in {
    background-image: url(images/black/door_in.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-door-open {
    background-image: url(images/black/door_open.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-door-out {
    background-image: url(images/black/door_out.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-download-for-linux {
    background-image: url(images/black/download_for_linux.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-draw-dodge-burn {
    background-image: url(images/black/draw_dodge_burn.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-drop {
    background-image: url(images/black/drop.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-earth-night {
    background-image: url(images/black/earth_night.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-edit-path {
    background-image: url(images/black/edit_path.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-ehow {
    background-image: url(images/black/ehow.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-electric-guitar {
    background-image: url(images/black/electric_guitar.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-after-boom {
    background-image: url(images/black/emotion_after_boom.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-batman {
    background-image: url(images/black/emotion_batman.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-blow-current {
    background-image: url(images/black/emotion_blow_current.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-burnt {
    background-image: url(images/black/emotion_burnt.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-darth-wader {
    background-image: url(images/black/emotion_darth_wader.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-gangs {
    background-image: url(images/black/emotion_gangs.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-emotion-ninja {
    background-image: url(images/black/emotion_ninja.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-e-book-reader-black {
    background-image: url(images/black/e_book_reader_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-file-extension-cbr {
    background-image: url(images/black/file_extension_cbr.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-file-extension-lnk {
    background-image: url(images/black/file_extension_lnk.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-file-extension-mid {
    background-image: url(images/black/file_extension_mid.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-file-start-workflow {
    background-image: url(images/black/file_start_workflow.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-file-workflow-tasks {
    background-image: url(images/black/file_workflow_tasks.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-film-photo {
    background-image: url(images/black/film_photo.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-find {
    background-image: url(images/black/find.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-fingerprint {
    background-image: url(images/black/fingerprint.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-flex {
    background-image: url(images/black/flex.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-flex-builder {
    background-image: url(images/black/flex_builder.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-folder-black {
    background-image: url(images/black/folder_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-font-size-decrease {
    background-image: url(images/black/font_size_decrease.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-font-size-increase {
    background-image: url(images/black/font_size_increase.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-forklift {
    background-image: url(images/black/forklift.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-function {
    background-image: url(images/black/function.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-geolocation-sight {
    background-image: url(images/black/geolocation_sight.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-google-plus {
    background-image: url(images/black/google_plus.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-gun {
    background-image: url(images/black/gun.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-hat {
    background-image: url(images/black/hat.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-hd-720 {
    background-image: url(images/black/hd_720.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-hd-ready {
    background-image: url(images/black/hd_ready.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-headphone {
    background-image: url(images/black/headphone.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-headphone-mic {
    background-image: url(images/black/headphone_mic.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-insert-footnote {
    background-image: url(images/black/insert_footnote.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-ipad {
    background-image: url(images/black/ipad.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-ipad-protect {
    background-image: url(images/black/ipad_protect.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-iphone {
    background-image: url(images/black/iphone.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-iphone-protect {
    background-image: url(images/black/iphone_protect.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-joystick {
    background-image: url(images/black/joystick.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-joystick-add {
    background-image: url(images/black/joystick_add.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-joystick-delete {
    background-image: url(images/black/joystick_delete.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-joystick-error {
    background-image: url(images/black/joystick_error.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-json {
    background-image: url(images/black/json.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-laptop {
    background-image: url(images/black/laptop.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-lcd-tv-off {
    background-image: url(images/black/lcd_tv_off.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-magic-wand-2 {
    background-image: url(images/black/magic_wand_2.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-mail-black {
    background-image: url(images/black/mail_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-micro-sd {
    background-image: url(images/black/micro_sd.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-monitor-screensaver {
    background-image: url(images/black/monitor_screensaver.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-movies {
    background-image: url(images/black/movies.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-my-name-is-e {
    background-image: url(images/black/my_name_is_e.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-network-ethernet {
    background-image: url(images/black/network_ethernet.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-no-commercial {
    background-image: url(images/black/no_commercial.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-no-drm-trm {
    background-image: url(images/black/no_drm_trm.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-no-requirements {
    background-image: url(images/black/no_requirements.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-oil-barrel {
    background-image: url(images/black/oil_barrel.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-paintcan {
    background-image: url(images/black/paintcan.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-pc-linux-os {
    background-image: url(images/black/pc_linux_os.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-perfomance {
    background-image: url(images/black/perfomance.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-perl-modules {
    background-image: url(images/black/perl_modules.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-piano {
    background-image: url(images/black/piano.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-pirate-flag {
    background-image: url(images/black/pirate_flag.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-playstation {
    background-image: url(images/black/playstation.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-power-surge {
    background-image: url(images/black/power_surge.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-premium-support {
    background-image: url(images/black/premium_support.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-processor {
    background-image: url(images/black/processor.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-radio-modern {
    background-image: url(images/black/radio_modern.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-robo-to {
    background-image: url(images/black/robo_to.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-script-black {
    background-image: url(images/black/script_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sd-memory-adapter {
    background-image: url(images/black/sd_memory_adapter.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-security {
    background-image: url(images/black/security.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-session-idle-time {
    background-image: url(images/black/session_idle_time.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-shuriken {
    background-image: url(images/black/shuriken.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-site-enhancer {
    background-image: url(images/black/site_enhancer.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-skip-occurrence {
    background-image: url(images/black/skip_occurrence.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-slide-sound {
    background-image: url(images/black/slide_sound.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sound {
    background-image: url(images/black/sound.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sound-add {
    background-image: url(images/black/sound_add.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sound-delete {
    background-image: url(images/black/sound_delete.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sound-low {
    background-image: url(images/black/sound_low.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sound-none {
    background-image: url(images/black/sound_none.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-spectrum-emission {
    background-image: url(images/black/spectrum_emission.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-speedometer {
    background-image: url(images/black/speedometer.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-spill {
    background-image: url(images/black/spill.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sport-8ball {
    background-image: url(images/black/sport_8ball.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sql {
    background-image: url(images/black/sql.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-ssh-shell-access {
    background-image: url(images/black/ssh_shell_access.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-steering-wheel-common {
    background-image: url(images/black/steering_wheel_common.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-steering-wheel-racing {
    background-image: url(images/black/steering_wheel_racing.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-stethoscope {
    background-image: url(images/black/stethoscope.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-stickman {
    background-image: url(images/black/stickman.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-submit-support-request {
    background-image: url(images/black/submit_support_request.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-sushi {
    background-image: url(images/black/sushi.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-system-monitor {
    background-image: url(images/black/system_monitor.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-teapot {
    background-image: url(images/black/teapot.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-text-language {
    background-image: url(images/black/text_language.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-tire {
    background-image: url(images/black/tire.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-toilet {
    background-image: url(images/black/toilet.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-token-literal-text {
    background-image: url(images/black/token_literal_text.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-token-match-character-literally {
    background-image: url(images/black/token_match_character_literally.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-token-nonprintable-character {
    background-image: url(images/black/token_nonprintable_character.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-tornado {
    background-image: url(images/black/tornado.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-toucan {
    background-image: url(images/black/toucan.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-traffic-lights-green {
    background-image: url(images/black/traffic_lights_green.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-traffic-lights-red {
    background-image: url(images/black/traffic_lights_red.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-traffic-lights-yellow {
    background-image: url(images/black/traffic_lights_yellow.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-turntable {
    background-image: url(images/black/turntable.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-alien {
    background-image: url(images/black/user_alien.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-banker {
    background-image: url(images/black/user_banker.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-batman {
    background-image: url(images/black/user_batman.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-catwomen {
    background-image: url(images/black/user_catwomen.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-chief {
    background-image: url(images/black/user_chief.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-chief-black {
    background-image: url(images/black/user_chief_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-chief-female {
    background-image: url(images/black/user_chief_female.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-chief-female-black {
    background-image: url(images/black/user_chief_female_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-darth-vader {
    background-image: url(images/black/user_darth_vader.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-death {
    background-image: url(images/black/user_death.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-detective {
    background-image: url(images/black/user_detective.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-diver {
    background-image: url(images/black/user_diver.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-dracula {
    background-image: url(images/black/user_dracula.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-goth {
    background-image: url(images/black/user_goth.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-hendrix {
    background-image: url(images/black/user_hendrix.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-imprisoned-black {
    background-image: url(images/black/user_imprisoned_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-imprisoned-female-black {
    background-image: url(images/black/user_imprisoned_female_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-jason {
    background-image: url(images/black/user_jason.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-jew {
    background-image: url(images/black/user_jew.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-judge {
    background-image: url(images/black/user_judge.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-judge-black {
    background-image: url(images/black/user_judge_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-muslim-female {
    background-image: url(images/black/user_muslim_female.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-ninja {
    background-image: url(images/black/user_ninja.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-nun {
    background-image: url(images/black/user_nun.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-nun-black {
    background-image: url(images/black/user_nun_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-pilot {
    background-image: url(images/black/user_pilot.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-policeman-afro {
    background-image: url(images/black/user_policeman_afro.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-policeman-white {
    background-image: url(images/black/user_policeman_white.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-police-england {
    background-image: url(images/black/user_police_england.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-police-female {
    background-image: url(images/black/user_police_female.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-police-female-black {
    background-image: url(images/black/user_police_female_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-priest {
    background-image: url(images/black/user_priest.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-priest-black {
    background-image: url(images/black/user_priest_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-racer {
    background-image: url(images/black/user_racer.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-scream {
    background-image: url(images/black/user_scream.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-silhouette {
    background-image: url(images/black/user_silhouette.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-striper {
    background-image: url(images/black/user_striper.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-striper-black {
    background-image: url(images/black/user_striper_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-student {
    background-image: url(images/black/user_student.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-student-black {
    background-image: url(images/black/user_student_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-student-female {
    background-image: url(images/black/user_student_female.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-student-female-black {
    background-image: url(images/black/user_student_female_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-waiter-female-black {
    background-image: url(images/black/user_waiter_female_black.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-user-zorro {
    background-image: url(images/black/user_zorro.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-validation-label {
    background-image: url(images/black/validation_label.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-validation-label-html {
    background-image: url(images/black/validation_label_html.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-validation-label-html5 {
    background-image: url(images/black/validation_label_html5.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-vhs {
    background-image: url(images/black/vhs.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-video {
    background-image: url(images/black/video.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-virb {
    background-image: url(images/black/virb.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-webhost-manager {
    background-image: url(images/black/webhost_manager.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-whistle {
    background-image: url(images/black/whistle.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-wi-fi {
    background-image: url(images/black/wi_fi.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-wi-fi-zone {
    background-image: url(images/black/wi_fi_zone.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-x-ray {
    background-image: url(images/black/x_ray.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fat-cow.black-yin-yang {
    background-image: url(images/black/yin_yang.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}